<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<div>
    <data th:text="${article.date}"></data>
    <h3 th:text="${article.name}"></h3>
    <text th:text="${article.content}"></text>
    <p th:text="${article.nameAuthor}"></p>
</div>

<table border="1">
    <thead>
    <tr>
        <td>Date added</td>
        <td>Author</td>
        <td>Content</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="comment : ${article.comments}">
        <tr>
            <td th:text="${comment.date}"></td>
            <td th:text="${comment.user.name} + ${comment.user.surname}"></td>
            <td th:text="${comment.content}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>