<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body class="text-center">
<div class="container ">
    <div class="row justify-content-md-center ">
        <form class=" m-3 col-md-auto w-25 " method="post">
            <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input value="hvorostenko.alexander@gmail.com" type="email" name="username" id="inputEmail"
                   class="form-control " placeholder="Email" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input value="admin" type="password" name="password" id="inputPassword" class="form-control"
                   placeholder="Пароль" required="">
            <button class="m-3  btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>
</html>